@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNovaT-Thin.eot');
  src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('ProximaNovaT-Thin.woff2') format('woff2'),
  url('ProximaNovaT-Thin.woff') format('woff'),
  url('ProximaNovaT-Thin.ttf') format('truetype'),
  url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
} /* [100] Thin           */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Light.eot');
  src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Light.woff2') format('woff2'),
  url('ProximaNova-Light.woff') format('woff'),
  url('ProximaNova-Light.ttf') format('truetype'),
  url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
} /* [300] Light          */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Regular.woff2') format('woff2'),
  url('ProximaNova-Regular.woff') format('woff'),
  url('ProximaNova-Regular.ttf') format('truetype'),
  url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
} /* [normal] Regular     */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Semibold.eot');
  src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Semibold.woff2') format('woff2'),
  url('ProximaNova-Semibold.woff') format('woff'),
  url('ProximaNova-Semibold.ttf') format('truetype'),
  url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
} /* [600] Semibold       */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Bold.woff2') format('woff2'),
  url('ProximaNova-Bold.woff') format('woff'),
  url('ProximaNova-Bold.ttf') format('truetype'),
  url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
} /* [bold] Bold          */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Extrabld.eot');
  src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Extrabld.woff2') format('woff2'),
  url('ProximaNova-Extrabld.woff') format('woff'),
  url('ProximaNova-Extrabld.ttf') format('truetype'),
  url('ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
} /* [800] Extrabld       */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-Black.eot');
  src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-Black.woff2') format('woff2'),
  url('ProximaNova-Black.woff') format('woff'),
  url('ProximaNova-Black.ttf') format('truetype'),
  url('ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
} /* [900] Black          */
/* =========== Proxima Nova ============ */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-ThinIt.eot');
  src: url('ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-ThinIt.woff2') format('woff2'),
  url('ProximaNova-ThinIt.woff') format('woff'),
  url('ProximaNova-ThinIt.ttf') format('truetype'),
  url('ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
  font-weight: 100;
  font-style: italic;
} /* [100] Thin It        */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-LightIt.eot');
  src: url('ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-LightIt.woff2') format('woff2'),
  url('ProximaNova-LightIt.woff') format('woff'),
  url('ProximaNova-LightIt.ttf') format('truetype'),
  url('ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
} /* [300] Light It       */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-RegularIt.eot');
  src: url('ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-RegularIt.woff2') format('woff2'),
  url('ProximaNova-RegularIt.woff') format('woff'),
  url('ProximaNova-RegularIt.ttf') format('truetype'),
  url('ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: italic;
} /* [normal] Regular It  */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-SemiboldIt.eot');
  src: url('ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-SemiboldIt.woff2') format('woff2'),
  url('ProximaNova-SemiboldIt.woff') format('woff'),
  url('ProximaNova-SemiboldIt.ttf') format('truetype'),
  url('ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
} /* [600] Semibold It    */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-BoldIt.eot');
  src: url('ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-BoldIt.woff2') format('woff2'),
  url('ProximaNova-BoldIt.woff') format('woff'),
  url('ProximaNova-BoldIt.ttf') format('truetype'),
  url('ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
} /* [bold] Bold It       */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-ExtrabldIt.eot');
  src: url('ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-ExtrabldIt.woff2') format('woff2'),
  url('ProximaNova-ExtrabldIt.woff') format('woff'),
  url('ProximaNova-ExtrabldIt.ttf') format('truetype'),
  url('ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
  font-weight: 800;
  font-style: italic;
} /* [800] Extrabld It    */
@font-face {
  font-family: 'Proxima Nova';
  src: url('ProximaNova-BlackIt.eot');
  src: url('ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
  url('ProximaNova-BlackIt.woff2') format('woff2'),
  url('ProximaNova-BlackIt.woff') format('woff'),
  url('ProximaNova-BlackIt.ttf') format('truetype'),
  url('ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
  font-weight: 900;/**/
  font-style: italic;
} /* [900] Black It       */